.order-tab {
  padding-bottom: 50px;
  background-color: #f0f0f0;
  .header {
    height: 80px;
    line-height: 80px;
    font-size: 32px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    text-align: center;
  }
}
