@mixin line() {
  &::after {
    content: '';
    position: relative;
    top: 2px;
    display: inline-block;
    margin: 0 10px;
    height: 20px;
    width: 1px;
    background: #ccc;
  }
}

.business-item {
  position: relative;
  padding: 20px 0;
  border-top: 1px solid #e4e4e4;
  &:first-child {
    border-top: none;
  }
  .business-link {
    display: flex;
    font-size: 24px;
    color: #666;
  }
  .business-pic {
    position: relative;
    flex: 0 0 180px;
    margin-right: 20px;
    .pic {
      box-sizing: border-box;
      width: 100%;
      border: 1px solid #e4e4e4;
    }
    .brand {
      position: absolute;
      top: 1px;
      left: 1px;
      box-sizing: border-box;
      padding: 0 6px;
      color: #fff;
      &.brand-pin {
        background-color: #ffa627;
      }
      &.brand-xin {
        background-color: #21c56c;
      }
    }
  }
  .business-info {
    flex: 1;
    line-height: 1;
    overflow: hidden;
    .name {
      margin-top: px2rem(10px);
      margin-bottom: px2rem(12px);
      width: 80%;
      color: #333;
      font-size: px2rem(32px);
      font-weight: bold;
    }
    .name2 {
      margin-top: px2vm(10px);
      margin-bottom: px2vm(12px);
      width: 80%;
      color: #333;
      font-size: px2vm(32px);
      font-weight: bold;
    }
    .meta-box {
      .score {
        .star {
          display: inline-block;
          width: 20px;
          height: 20px;
          background-size: contain;
          background-repeat: no-repeat;
        }
        .fullstar {
          background-image: url('~@/assets/images/common/star/fullstar.png');
        }
        .halfstar {
          background-image: url('~@/assets/images/common/star/halfstar.png');
        }
        .graystar {
          background-image: url('~@/assets/images/common/star/graystar.png');
        }
      }
      .count {
        margin-left: 10px;
      }
      .distance {
        float: right;
      }
      .time {
        float: right;
        @include line();
      }
    }
    .price-box {
      margin-top: 12px;
      .price {
        @include line();
        &:nth-child(2)::after {
          display: none;
        }
      }
      .delivery {
        float: right;
        position: relative;
        right: 0;
        top: -4px;
        padding: 3px;
        color: #000;
        background-color: #ffd161;
        border-radius: 3px;
      }
    }
    .activity-box {
      .activity-item {
        display: flex;
        align-items: center;
        margin-top: 16px;
      }
      .pic {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
    }
  }
}
