.bottom-nav {
  box-sizing: border-box;
  position: fixed !important;
  left: 0;
  right: 0;
  bottom: 0;
  height: px2rem(100px);
  border-top: 1px solid #b6b6b6;
  background-color: rgba(246, 246, 246, 0.95);
  ul {
    display: flex;
    height: 100%;
  }
  li {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    line-height: 1.2;
    color: #999;
    font-size: 24px;
    .icon {
      margin-bottom: 8px;
    }
    &.active {
      color: #000;
    }
    &.index {
      .icon {
        width: 40px;
        height: 44px;
        background-size: 40px 44px;
        background-image: url('~@/assets/images/common/bottom-nav/homeIcon.png');
      }
      &.active .icon {
        background-image: url('~@/assets/images/common/bottom-nav/homeIconActive.png');
      }
    }
    &.order {
      .icon {
        width: 38px;
        height: 45px;
        background-size: 38px 45px;
        background-image: url('~@/assets/images/common/bottom-nav/orderIcon.png');
      }
      &.active .icon {
        background-image: url('~@/assets/images/common/bottom-nav/orderIconActive.png');
      }
    }
    &.mine {
      .icon {
        width: 50px;
        height: 50px;
        background-size: 50px 50px;
        background-image: url('~@/assets/images/common/bottom-nav/myIcon.png');
      }
      &.active .icon {
        background-image: url('~@/assets/images/common/bottom-nav/myIconActive.png');
      }
    }
  }
}
