.business-wrapper {
  h2.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    line-height: 80px;
    font-size: 36px;
    font-weight: bold;
    border-bottom: 1px solid #e4e4e4;
    &::before,
    &::after {
      content: '';
      display: inline-block;
      width: 120px;
      height: 1px;
      background-color: #666;
      transform: scale(0.5);
    }
    &::before {
      margin-right: 10px;
      transform-origin: 100% 50%;
    }
    &::after {
      margin-left: 10px;
      transform-origin: 0 50%;
    }
  }
  .business-list {
    box-sizing: border-box;
    padding: 0 30px;
  }
}
